#######################################################
# DataBase #
POCKETBASE_URL="http://host.docker.internal:8090" # DB URL
DB_URL="http://127.0.0.1:8090"
#######################################################
# Collections #
AUTHENTICATION_COLLECTION="_superusers"
COLLECTION_READINGS="readings" # Collection where data will be stored in Pocketbase
COLLECTION_URGENT="urgent_alerts" 
#######################################################
# Authenticacion configuration for DB #
# It recomended only to create 1 user for al devices, for avoid problems with authentication and tokens#
POCKETBASE_USER="user@mail.com"
POCKETBASE_PASSWORD="user_password"
POCKETBASE_SUPERUSER="superuser@mail.com"
POCKETBASE_SUPERPASSWORD="superuser_password"
POCKETBASE_TOKEN=$(python3 ./scripts/obtener_token.py) # Require a _superuser tocken of PocketBase
BATCH_SIZE=5 # Number of messages to batch before sending to Pocketbase
FLUSH_INTERVAL=5 # Time in seconds to wait before flushing the batch to Pocketbase, even if the batch size is not reached
#######################################################
# Configuracion de MQTT #
MQTT_BROKER="mqtt_broker"
MQTT_BROKER_LOCAL="localhost"
MQTT_PORT=1883
MQTT_TOPIC="devices/+/readings"
MQTT_ERROR_TOPIC="errors"
MQTT_PUBLISH_TOPIC_ALERTS="alerts"
#######################################################
# Disk configuration #
MAX_RETRIES=5
BASE_DELAY=1
MAX_DELAY=30
QUEUE_FILE="/app/data/pending_readings.log" # File where pending readings will be stored in case of failure
#######################################################
# Sensors id for testing with the send_random_mqtt.py script #
TEMP_ID="your_temp_sensor_id"
BATTERY_ID="your_battery_sensor_id"
STATUS_ID="your_status_sensor_id"
HAS_PALLET_ID="your_has_pallet_sensor_id"
#######################################################
# Edge proccesor #
# Invalid Alerts: #
BATTERY_MINIMUM_INVALID=0
BATTERY_MAXIMUM_INVALID=100
TEMP_MIMIMUM_INVALID=0
TEMP_MAXIMUM_INVALID=80
# Normal Alerts: #
BATTERY_THRESHOLD=20
TEMP_THRESHOLD=70
#######################################################